{% extends "global/base.html" %}
{% block content %}

<p>NOWData is CINow&#8217;s data arm. Our job is to demystify data and get it into the hands of people like you &#8211; people who are working to change our community for the better. We keep data mainly for Atascosa, Bandera, Bexar, Comal, Frio, Gillespie, Guadalupe, Karnes, Kendall, Kerr, Medina, and Wilson Counties.</p>

<p>Maybe you want to find out everything you can about the San Antonio neighborhood you live in. Maybe you want to know how Bandera County seniors fared over the past five years. Or maybe you want to know whether the availability of fresh vegetables, violent crime, and housing foreclosures are affecting how well our local children do in school. That&#8217;s what we&#8217;re here for &#8211; so you can quickly find, map, chart, and download just what you need.</p>

<p>Please use the menu at right to dive right in. If you&#8217;ve never used data before, you&#8217;ll be able to browse around just like you do elsewhere on the web. If you&#8217;re an advanced data user, you might want to jump straight to the analysis and visualization tools.</p>

<p>New content is published all the time, so please sign up for our updates to stay in the loop.</p>


{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}









