{% extends "global/base.html" %}
{% block content %}

<form enctype="multipart/form-data" method="post" accept-charset="UTF-8">

    <p>
        <label>Your Name: <span title="This field is required." class="form-required">*</span></label>
        <input type="text" size="60" id="edit-submitted-your-name" name="submitted[your_name]" maxlength="128">
    </p>

    <p>
        <label>Your E-Mail Address: <span title="This field is required." class="form-required">*</span></label>
        <input type="text" class="form-text required email" value="" size="60" id="edit-submitted-your-e-mail" name="submitted[your_e_mail]" maxlength="128">
    </p>

    <p><textarea class="form-textarea required" rows="5" cols="60"></textarea></p>

    <input type="submit" class="form-submit" value="Submit" id="edit-submit" name="op" />
</form>


{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}









