{% extends "global/base.html" %}
{% block content %}

<h2>Help Documents (pdf)</h2>

<ul>
  <li><a href="http://www.cinow.info/GISMaps/MapOverview.pdf">Help on interactive mapping</a></li>
  <li><a href="http://www.cinow.info/other/AACIS_Glossary.pdf">Help on data jargon</a></li>
</ul>

<hr />

<h2>Frequently Asked Questions</h2>
	

<ul class="faq_list">
  <li>
    <h3>What is CI:Now, and what is NOWData?</h3>
		<p>NOWData is the data arm of CI:Now. Please visit the <a href="http://www.cinow.info/other/About.aspx">About Us</a> page for more information on CI:Now.</p>
  </li>
  
  <li>
    <h3>Why is there data only for 12 counties? Can I contact CI:Now for information on my county?</h3>
		<p>CI:Now serves the 12 south central Texas counties served by the Alamo Area Council of Governments. Unfortunately CI:Now can&#8217;t help with individual data questions, but several external data sources for counties other than Bexar &#8211; for example, the U.S. Census Bureau or the Texas Department of State Health Services &#8211; carry data on many other counties across the state. These data sources are linked to each indicator in the Data Source Web Site field for that indicator.</p>
  </li>
  
  <li>
    <h3>Why doesn&#8217;t CI:Now have the subject/place/variable I&#8217;m interested in?</h3>
		<p>As a general rule, datasets are acquired by CI:Now for one (or more) of three reasons: (1) CI:Now staff determine that the data are of significant interest to a large proportion of the population of the 12 CI:Now counties; (2) an agency contracts with CI:Now to compile data in a specific subject area such as children or mental health, or in a specific geographic area such as Comal County; and/or (3) a third party collects primary (e.g., survey results) or secondary data (e.g., vital statistics) and &#8220;donates&#8221; those data to CI:Now to expand the warehouse of information available to the community.</p>

    <p>Primarily because of methodological problems with small sample or population sizes but also because of the importance of preserving confidentiality, data are less likely to be available for small or less populous geographic areas. Similarly, datasets may not be broken down by all variables of interest (e.g., age, census tract).</p>

    <p>CI:Now welcomes data partners and suggestions for additional indicators or datasets. But because of limited human and financial resources, staff must often make the difficult decision not to host an interesting or available dataset.</p>
  </li>
  
  <li>
    <h3>I&#8217;ve found the data I&#8217;m interested in, but some numbers are blanked out or marked &#8220;not available&#8221; on the map/table. Why is that?</h3>
		<p>Data in certain &#8220;cells&#8221; (e.g, births in a single zip code or foreclosures rates among 18- to 25-year-old homeowners) may be grayed out on a map or marked &#8220;NA&#8221; in a table for one of two reasons: (1) either the data weren&#8217;t collected at all for that cell; or (2) the data have been &#8220;suppressed&#8221; because the numbers are too small to give a stable rate or protect confidentiality.</p>
  </li>
  
  <li>
    <h3>Why can&#8217;t I interact with the map of the indicator I&#8217;m interested in? I can&#8217;t change the layers or value ranges.</h3>
		<p>First, check to be sure the data truly aren&#8217;t available in an interactive map. Some indicators are available in both static (.pdf) and interactive maps to make them as accessible as possible for different kinds of CI:Now users. If the data are available only as a pdf map, the most likely reason is that the data come from an administrative (client) dataset and CI:Now is restricting user-data interaction to maximize the protection of confidentiality.</p>
  </li>
  
  <li>
    <h3>I&#8217;m looking at the &#8220;Related Stories&#8221; linked from one of the &#8220;In Focus&#8221; landing pages. Who writes these stories, and why aren&#8217;t there stories from any other new sources?</h3>
		<p>The stories linked through the &#8220;Related Stories&#8221; linked are generated by NOWCast SA, one of the three sister arms of CI:Now, the others being NOWData and NOWTech. NOWCastSA is an independent, nonprofit community news organization, dedicated to neighborhood-focused, public service journalism and creating a neighbor-to-neighbor news and information network. NOWCast SA strives to publish accurate, reliable, relevant and compelling in-depth news, data and information, filling a core community need and enabling a healthy democracy.</p>
  </li>
</ul>


<p class="fineprint">Last revised 1/2011</p>


{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}