{% extends "global/base.html" %}
{% block content %}

<p>The Data Explorer allows you to find data by topic, by county, or by special focus area.  If you're new to CI:Now or to data, you might just browse by topic or county (at right) or look at the Focus areas below.  If you're a more advanced user, you can go straight to Tools (at right) to generate a custom cross-tab table or explore data through the Weave visualization tool.</p>

<hr />

<h2>In <em>Focus</em></h2>

<ul id="list-projects_in_focus">

    <li>
        <img src="{{ MEDIA_URL }}images/content/homepage_infocus-mentalhealth-cropped.gif" style="float:left; margin-right:10px;">
        <h3>Mental Health and Substance Abuse</h3>
        <p>Mental illness and substance abuse (MH/SA) are serious problems in Bexar and surrounding counties, impacting quality of life, physical health-related behaviors, work productivity, and school performance.  <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>

    <li>
        <img src="{{ MEDIA_URL }}images/content/homepage_infocus-promise-cropped.gif" style="float:left; margin-right:10px;">
        <h3>Eastside Promise Neighborhood </h3>
        <p>The Eastside of San Antonio is home to some of the city's richest history of triumph, beauty and accomplishment. And yet, the profound assets of the children, youth, elders and families are often overshadowed by challenges facing the neighborhood such as low graduation rates, high poverty, aging homes and a highly mobile population. <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>

    <li>
        <img src="{{ MEDIA_URL }}images/content/homepage_infocus-voices-cropped.gif" style="float:left; margin-right:10px;">
        <h3>Report on Children in San Antonio and Bexar County</h3>
        <p>Founded in 1996 under the leadership of Marian Sokol and ANY BABY CAN, Voices for Children of San Antonio incorporated as a 501c3 nonprofit organization in 2001. Using both research and advocacy, Voices for Children's mission is to make young children&#8217;s issues a priority in the San Antonio community. <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>


</ul>

{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/nowtech.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}









