{% extends "global/base.html" %}
{% block content %}

<p>In tincidunt ante quis turpis commodo in pharetra dui mattis. Praesent dignissim ligula eu mauris euismod id venenatis tortor venenatis. Fusce ullamcorper est eu erat ornare dictum et eget nibh. Fusce eget dui elit, quis vehicula eros. Curabitur odio sapien, eleifend vel aliquam blandit, dignissim eget sapien.</p>

<hr />

<h2>Projects In <em>Focus</em></h2>

<ul id="list-projects_in_focus">

    <li>
        <img src="#" style="background:red; height:50px; width:50px; float:left; margin-right:10px;">
        <h3>Project Name 1</h3>
        <p>Bacon ipsum dolor sit amet drumstick tail ribeye t-bone dolor, ham hock beef ribs rump pork chop mollit adipisicing ad exercitation aute salami. Pork belly dolor culpa ut fugiat, reprehenderit exercitation duis... <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>

    <li>
        <img src="#" style="background:red; height:50px; width:50px; float:left; margin-right:10px;">
        <h3>Project Name 2</h3>
        <p>Bacon ipsum dolor sit amet drumstick tail ribeye t-bone dolor, ham hock beef ribs rump pork chop mollit adipisicing ad exercitation aute salami. Pork belly dolor culpa ut fugiat, reprehenderit exercitation duis... <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>

    <li>
        <img src="#" style="background:red; height:50px; width:50px; float:left; margin-right:10px;">
        <h3>Project Name 3</h3>
        <p>Bacon ipsum dolor sit amet drumstick tail ribeye t-bone dolor, ham hock beef ribs rump pork chop mollit adipisicing ad exercitation aute salami. Pork belly dolor culpa ut fugiat, reprehenderit exercitation duis... <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>

    <li>
        <img src="#" style="background:red; height:50px; width:50px; float:left; margin-right:10px;">
        <h3>Project Name 4</h3>
        <p>Bacon ipsum dolor sit amet drumstick tail ribeye t-bone dolor, ham hock beef ribs rump pork chop mollit adipisicing ad exercitation aute salami. Pork belly dolor culpa ut fugiat, reprehenderit exercitation duis... <a href="#" class="readmorelink">&raquo; Read More</a></p>
    </li>


</ul>

{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}









