{% extends "global/base.html" %}
{% block content %}

<p>Community Information Now System (CI:Now) is a community partnership of over
25 public, private and non-profit organizations that have worked together since 1998 to build a 
community network information system that provides:</p>

<ul id="list">
    <li>Searchable, community resources Health and Human Services information </li>
    <li>Culturally relevant information </li>
    <li>Rural and Urban information about the Alamo Area </li>
    <li>In both Spanish and English </li>
    <li>Serving both community users and social service professionals </li>
</ul>


<p>Pick a category from the links below to explore San Antonio in further detail.</p>

<ul id="Ul1">
    <li><a href="#education">Education</a> </li>
    <li><a href="#healthcare">Healthcare/Medical </a></li>
    <li><a href="#housing">Housing</a> </li>
    <li><a href="http://www.mysapl.org/">Libraries</a> </li>
    <li><a href="#neighborhoods">Neighborhoods</a> </li>
    <li><a href="#publications">Publications &amp; Docs</a> </li>
    <li><a href="#crimedata">Area Crime Data</a> </li>
    <li><a href="#saservices">San Antonio Services</a> </li>
    <li><a href="#senior">Senior Resources</a> </li>
    <li><a href="#technology">Technology Center</a> </li>
    <li><a href="#youthservices">Youth Services</a> </li>
    <li><a href="http://bexar.tx.networkofcare.org/mh/resource/searchbycat.cfm?cat=4554" target="_blank">Bexar County Network of Care (mental health services)</a> </li>
    <li><a href="http://www.healthytexas.org/" target="_blank">Healthy Texas Resources (various health resources)</a> </li>
    <li><a href="http://www.marchofdimes.com/peristats//" target="_blank">San Antonio Community Guide (various community resources) </a> </li>
</ul>



<hr />



<a name="education"></a>
<h2>Education</h2>

<p>Bexar County School District Web Sites ...</p>

<p>Click the below link to see interactive maps of various Texas school districts<br />
<a href="http://deleon.tea.state.tx.us/SDL/viewer.htm">Get directions to the below listeddistricts</a></p>

<ul id="Ul2">
    <li><a href="http://www.ahisd.net/" target="_index">Alamo Heights ISD</a> </li>
    <li><a href="http://www.boerne-isd.net/" target="_index">Boerne ISD</a> </li>
    <li><a href="http://www.comalisd.org/" target="_index">Comal County ISD</a> </li>
    <li><a href="http://www.ecisd.net/" target="_index">East Central ISD</a> </li>
    <li><a href="http://www.eisd.net/" target="_index">Edgewood ISD</a> </li>
    <li><a href="http://www.fort-sam-houston.k12.tx.us/" target="_index">FT. Sam Houston
        ISD</a> </li>
    <li><a href="http://www.harlandale.k12.tx.us/" target="_index">Harlandale ISD</a> </li>
    <li><a href="http://www.judsonisd.org/" target="_index">Judson ISD</a> </li>
    <li><a href="http://www.lackland.k12.tx.us/" target="_index">Lackland ISD</a> </li>
    <li><a href="http://www.mvisd.com/" target="_index">Medina Valley ISD</a> </li>
    <li><a href="http://www.neisd.net/" target="_index">North East ISD</a> </li>
    <li><a href="http://www.nisd.net/" target="_index">Northside ISD</a> </li>
    <li><a href="http://www.randolph-field.k12.tx.us/" target="_index">Randolph Field ISD</a>
    </li>
    <li><a href="http://www.saisd.net/" target="_index">San Antonio ISD</a> </li>
    <li><a href="http://www.scuc.txed.net/" target="_index">Schertz-Cibolo-Universal City
        ISD</a> </li>
    <li><a href="http://www.somerset.k12.tx.us/" target="_index">Somerset ISD</a> </li>
    <li><a href="www.southsanisd.net" target="_index">South San Antonio ISD</a> </li>
    <li><a href="http://www.southsideisd.org/">Southside ISD</a></li>
</ul>
--------------------------------------------------------------------------------
<p>
    Other educational resource links ...
</p>

<ul id="Ul3">
    <li><a href="http://www.tea.state.tx.us/" target="_index">Texas Education Agency </a>
    </li>
    <li><a href="http://www.sbec.state.tx.us/SBECOnline/default.asp?width=1024&amp;height=768" target="_index">State Board for Educator Certification Certification</a> - information and news for teachers and administration </li>
    <li><a href="http://www.thecb.state.tx.us/" target="_index">Texas Higher Education Coordinating Board</a> </li>
    <li><a href="http://www.twc.state.tx.us/" target="_index">Texas Workforce Commission</a> - Education and training opportunities </li>
    <li><a href="http://www.tgslc.org/" target="_index">Texas Guaranteed Student Loan Corporation</a> - Federal family education loan program </li>
    <li><a href="http://www.collegeispossible.org/" target="_index">College is possible</a> - Resource guide for students, parents, and education professionals </li>
    <li><a href="http://www.esc20.k12.tx.us/" target="_index">Education Service Center -Region 20</a></li>
</ul>



<hr />



<a name="healthcare"></a>
<h2>Healthcare</h2>

<p>Healthcare resource links ...</p>

<ul id="Ul4">
    <li><a href="http://www.statehealthfacts.kff.org/cgi-bin/healthfacts.cgi" target="_index">
        Kaiser Family Foundation Site </a>
        <br />
        The latest state-level data on demographics, health and health policy, including
        health coverage, access, financing, and state legislation. </li>
    <li><a href="http://www.healthfinder.gov/" target="_index">Health Finders</a><br />
        Free guide to reliable health information-Service provided by the US Dept of Health
        and Human Services. </li>
    <li><a href="http://www.tdh.texas.gov/" target="_index">Texas Department of Health</a><br />
        Serving twenty-eight counties of south central Texas. </li>
    <li><a href="http://www.r08.tdh.state.tx.us/t8home.html" target="_index">Texas Department
        of Health Region 8</a><br />
        Serving twenty-eight counties of south central Texas. </li>
    <li><a href="http://www.universityhealthsystem.com/" target="_index">University Health
        System</a><br />
        Providing hospital and clinic services to families throughout Bexar County and South
        Texas </li>
    <li><a href="http://www.uthscsa.edu/" target="_index">The University of Texas Health
        Science Center</a><br />
        Serving San Antonio and the 50,000 square-mile area of South Texas. </li>
    <li>Center for Health Care Services<br />
        Ensures Bexar County persons with mental illness, mental retardation, and substance
        abuse problems receive necessary quality services commensurate to our community
        standards </li>
    <li><a href="http://www.dental.uthscsa.edu/patientcare/" target="_index">UTHSCSA-Dental</a><br />
        Offers extensive range of dental treatments and oral healthcare services for adults
        and children. </li>
    <li><a href="http://www.sanantonio.gov/health/?res=1024&amp;ver=true" target="_index">SA
        Metro Health District</a><br />
        Provides services ranging from Health and Education promotion to Immunizations and
        LAB services. </li>
    <li><a href="http://www.tdh.state.tx.us/diabetesproj/index.html" target="_index">Bexar
        Diabetes Project</a><br />
        to study and raise the awareness of preventive measures to delay or prevent the
        onset of diabetes related illnesses. </li>
    <li>Demographic and Health indicators<br />
        San Antonio and Bexar county health profiles produced by SA Metro Health District.
    </li>
    <li><a href="http://www.health.gov/dietaryguidelines/" target="_index">Dietary Guidelines</a><br />
        The 2000-Dietary Guidelines for Americans.... Published by the departments of Health
        and Human Services and Agriculture. </li>
</ul>


<hr />
        
        
<a name="housing"></a>
<h2>Housing</h2>

<p>Other housing resource links ...</p>

<ul>

    <li>
        <a href="http://www.texashousing.org/txlihis/city/profilehudsub.html" target="_blank">HUD Subsidized Stats</a><br />
        Profile of HUD subsidized housing in Texas.
    </li>

    <li>
        <a href="http://www.texashousing.org/" target="_blank">Texas Housing Information</a><br />
        Supporting low-income texan's efforts to find decent and affordable homes.
    </li>

    <li>
        <a href="http://www.habitatsa.org/" target="_blank">Habitat for Humanity- San Antonio</a><br />
        Non-profit housing organization, helping low-income families build affordable housing.
    </li>

    <li>
        <a href="http://tenant.net/Other_Areas/Texas/txlihs/tennotes.html" target="_blank">Texas Tenants Resources</a><br />
        Glossary of tenants' housing terms.
    </li>

    <li>
        <a href="http://www.hud.gov/" target="_blank">HUD</a>
        US Department of Housing and Urban Development.
    </li>

    <li>
        <a href="http://www.tdhca.state.tx.us/" target="_blank">Texas Department of Housing and Community Affairs</a><br />
        Responsible for affordable housing, community development and community assistance programs.
    </li>

    <li>
        <a href="http://www.statelocal.gov/hh-sub.html" target="_blank">State Housing Information</a><br />
        Grants/ Loans/ State and Federal programs.
    </li>

    <li>
        <a href="http://www.aacog.dst.tx.us/housing.htm" target="_blank">Housing and Weatherization Program</a><br />
        Alamo Area Council of Governments provides assistance and information on housing related topics.
    </li>

    <li>
        <a href="http://www.saha.org/" target="_blank">San Antonio Housing Authority</a>
    </li>


<hr />



    <a name="libraries"></a>
    <h2>Libraries</h2>
    <div style="margin-left: 25px">
        <span style="font-weight: bold; font-size: 16px">Status: Under Construction</span>
        <br />
        <br />
        <table cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Central Library     
                    <br />
                    600 Soledad
                    <br />
                    San Antonio, TX 78205
                    <br />
                    <span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">(210) 207-2500</span>
                    <br />
                    (210) 207-2534 TTY
                    <br />
                    <a href="../central">webpage </a>· <a href="javascript:launch('http://portaldev/library/central/mapCentral.htm',520,480)">
                        directions </a>· <a href="../central/floorplans.asp">layout </a>· pics
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday 11:00am - 5:00pm
                    <br />
                    Monday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday and Saturday 9:00am - 5:00pm
                    <br />
                    1 hour free parking at Central Library Garage with validated ticket
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Bazan Library     
                    <br />
                    2200 W. Commerce
                    <br />
                    San Antonio, TX 78207
                    <br />
                    <span id="gc-number-1" class="gc-cs-link" title="Call with Google Voice">(210) 225-1614</span> (also TTY)
                    <br />
                    <a href="bazan.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapBazan.htm',520,480)">
                        directions </a>· <a href="pics/galleryBazan.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00pm - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Bookmobile Library     
                    <br />
                    <a href="bookmobile.asp">webpage </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                    <p>
                            Brook Hollow Library     
                        <br />
                        530 Heimer
                        <br />
                        San Antonio, TX 78232
                        <br />
                        <span id="gc-number-2" class="gc-cs-link" title="Call with Google Voice">(210) 496-6315</span> (also TTY)
                        <br />
                        <a href="brookhollow.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapBrookHollow.htm',520,480)">
                            directions </a>· <a href="info/layoutBrookHollow.htm">layout </a>
                    </p>
                </td>
                <td align="left" valign="top" width="60%">
                        Bookmobile Hours     
                    <p>
                        Tuesday 10:00 a.m. - 7:00 p.m.
                        <br />
                        Wednesday 10:00 a.m. - 7:00 p.m.
                        <br />
                        Thursday 10:00 a.m. - 7:00 p.m.
                        <br />
                        Friday 10:00 a.m. - 7:00 p.m.
                        <br />
                        Saturday 10:00 a.m. - 7:00 p.m.
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Carver Library     
                    <br />
                    3350 E. Commerce
                    <br />
                    San Antonio, TX 78220
                    <br />
                    <span id="gc-number-3" class="gc-cs-link" title="Call with Google Voice">(210) 225-7801</span> (also TTY)
                    <br />
                    <a href="carver.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapCarver.htm',520,480)">
                        directions </a>· <a href="pics/galleryCarver.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Cody Library     
                    <br />
                    11441 Vance Jackson
                    <br />
                    San Antonio, TX 78230
                    <br />
                    <span id="gc-number-4" class="gc-cs-link" title="Call with Google Voice">(210) 696-6396</span> (also TTY)
                    <br />
                    <a href="cody.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapCody.htm',520,480)">
                        directions </a>· <a href="pics/galleryCody.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Collins Garden Library     
                    <br />
                    200 N. Park
                    <br />
                    San Antonio, TX 78204
                    <br />
                    <span id="gc-number-5" class="gc-cs-link" title="Call with Google Voice">(210) 225-0331</span> (also TTY)
                    <br />
                    <a href="collinsgarden.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapCollinsGarden.htm',520,480)">
                        directions </a>· <a href="pics/galleryCollinsGarden.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Cortez Library     
                    <br />
                    2803 Hunter
                    <br />
                    San Antonio, TX 78224
                    <br />
                    <span id="gc-number-6" class="gc-cs-link" title="Call with Google Voice">(210) 922-7372</span> (also TTY)
                    <br />
                    <a href="cortez.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapCortez.htm',520,480)">
                        directions </a>· <a href="pics/galleryCortez.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="40%">
                        District 8/Hausman Rd. Library     
                    <br />
                    7938 W. Hausman Rd.
                    <br />
                    San Antonio, TX 78249
                </td>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="60%">
                        Estimated Completion Date:     Fall 2007
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Forest Hills Library     
                    <br />
                    5245 Ingram Rd.
                    <br />
                    San Antonio, TX 78228
                    <br />
                    <span id="gc-number-7" class="gc-cs-link" title="Call with Google Voice">(210) 431-2544</span> (also TTY)
                    <br />
                    <a href="foresthills.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapForestHills.htm',520,480)">
                        directions </a>· <a href="pics/galleryForestHills.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Great Northwest Library     
                    <br />
                    9050 Wellwood
                    <br />
                    San Antonio, TX 78251
                    <br />
                    <span id="gc-number-8" class="gc-cs-link" title="Call with Google Voice">(210) 684-5251</span>
                    <br />
                    <a href="greatnorthwest.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapGreatNorthwest.htm',520,480)">
                        directions </a>· <a href="pics/galleryGreatNorthwest.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Henry A. Guerra, Jr. Library     
                    <br />
                    7978 Military Drive West
                    <br />
                    San Antonio, TX 78227
                    <br />
                    <span id="gc-number-9" class="gc-cs-link" title="Call with Google Voice">(210) 673-1492</span>
                    <br />
                    <a href="guerra.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapGuerra.htm',520,480)">
                        directions </a>· <a href="pics/galleryGuerra.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Johnston Library     
                    <br />
                    6307 Sun Valley
                    <br />
                    San Antonio, TX 78227
                    <br />
                    <span id="gc-number-10" class="gc-cs-link" title="Call with Google Voice">(210) 674-8410</span> (also TTY)
                    <br />
                    <a href="johnston.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapJohnston.htm',520,480)">
                        directions </a>· <a href="info/layoutJohnston.htm">layout </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Landa Library     
                    <br />
                    233 Bushnell
                    <br />
                    San Antonio, TX 78212
                    <br />
                    <span id="gc-number-11" class="gc-cs-link" title="Call with Google Voice">(210) 732-8369</span> (also TTY)
                    <br />
                    <a href="landa.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapLanda.htm',520,480)">
                        directions </a>· <a href="pics/galleryLanda.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Las Palmas Library     
                    <br />
                    515 Castroville Rd.
                    <br />
                    San Antonio, TX 78237
                    <br />
                    <span id="gc-number-12" class="gc-cs-link" title="Call with Google Voice">(210) 434-6394</span> (also TTY)
                    <br />
                    <a href="laspalmas.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapLasPalmas.htm',520,480)">
                        directions </a>· <a href="pics/galleryLasPalmas.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00 a.m. - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="40%">
                        Maury Maverick, Jr. Library     
                    <br />
                    8700 Mystic Park
                    <br />
                    San Antonio, TX 78254
                </td>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="60%">
                        Estimated Completion Date:     December 2005
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        McCreless Library     
                    <br />
                    1023 Ada St.
                    <br />
                    San Antonio, TX 78223
                    <br />
                    <span id="gc-number-13" class="gc-cs-link" title="Call with Google Voice">(210) 532-4254</span> (also TTY)
                    <br />
                    <a href="mccreless.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapMcCreless.htm',520,480)">
                        directions </a>· <a href="pics/galleryMcCreless.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Memorial Library     
                    <br />
                    3222 Culebra
                    <br />
                    San Antonio, TX 78228
                    <br />
                    <span id="gc-number-14" class="gc-cs-link" title="Call with Google Voice">(210) 432-6783</span>
                    <br />
                    <a href="memorial.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapMemorial.htm',520,480)">
                        directions </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Oakwell Library     
                    <br />
                    4134 Harry Wurzbach
                    <br />
                    San Antonio, TX 78209
                    <br />
                    <span id="gc-number-15" class="gc-cs-link" title="Call with Google Voice">(210) 828-2569</span> (also TTY)
                    <br />
                    <a href="oakwell.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapOakwell.htm',520,480)">
                        directions </a>· <a href="info/layoutOakwell.htm">layout </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Pan American Library     
                    <br />
                    1122 W. Pyron Ave.
                    <br />
                    San Antonio, TX 78221
                    <br />
                    <span id="gc-number-16" class="gc-cs-link" title="Call with Google Voice">(210) 924-8164</span> (also TTY)
                    <br />
                    <a href="panamerican.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapPanAmerican.htm',520,480)">
                        directions </a>· <a href="pics/galleryPanAmerican.htm">pics </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Reagan High School &amp; Public Library     
                    <br />
                    19000 Ronald Reagan Drive
                    <br />
                    San Antonio, TX 78258
                    <br />
                    <span id="gc-number-17" class="gc-cs-link" title="Call with Google Voice">(210) 482-2200</span> ext. 370
                    <br />
                    <a href="reagan.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapReagan.htm',520,480)">
                        directions </a>· <a href="pics/galleryReagan.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                        Summer Hours     (beginning June 1, 2005)
                    <br />
                    <br />
                    Monday &amp; Thursday 1:00 - 9:00 p.m.
                    <br />
                    Tuesday &amp; Wednesday 9:00 a.m. - 9:00 p.m.
                    <br />
                    Friday &amp; Saturday 9:00 a.m. - 5:00 p.m.
                    <br />
                    Sunday CLOSED
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="40%">
                        Roosevelt High School &amp; Public Library     
                    <br />
                    5110 Walzem Road
                    <br />
                    San Antonio, TX 78218
                </td>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="60%">
                        Estimated Completion Date:     April 2007
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        San Pedro Library     
                    <br />
                    1315 San Pedro Ave.
                    <br />
                    San Antonio, TX 78212
                    <br />
                    <span id="gc-number-18" class="gc-cs-link" title="Call with Google Voice">(210) 733-1454</span> (also TTY)
                    <br />
                    <a href="sanpedro.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapSanPedro.htm',520,480)">
                        directions </a>· <a href="pics/gallerySanPedro.htm">pics </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday - 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="40%">
                        Julia Yates Semmes Library at Comanche Lookout Park     
                    <br />
                    15060 Judson Rd.
                    <br />
                    San Antonio, TX 78247
                </td>
                <td align="left" bgcolor="#c0c0c0" valign="top" width="60%">
                        Estimated Completion Date:     November 2005
                </td>
            </tr>
            <tr>
                <td align="left" bgcolor="#ebebeb" valign="top" width="40%">
                        Thousand Oaks - El Sendero Library     
                    <br />
                    4618 Thousand Oaks
                    <br />
                    San Antonio, TX 78233
                    <br />
                    <span id="gc-number-19" class="gc-cs-link" title="Call with Google Voice">(210) 657-5205</span> (also TTY)
                    <br />
                    <a href="thousandoaks.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapThousandOaks.htm',520,480)">
                        directions </a>
                </td>
                <td align="left" bgcolor="#ebebeb" valign="top" width="60%">
                    Sunday 1:00 - 5:00pm
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Wednesday 9:00am - 9:00pm
                    <br />
                    Thursday - Saturday 9:00am - 5:00pm
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="40%">
                        Westfall Library     
                    <br />
                    6111 Rosedale Ct.
                    <br />
                    San Antonio, TX 78201
                    <br />
                    <span id="gc-number-20" class="gc-cs-link" title="Call with Google Voice">(210) 344-2373</span> (also TTY)
                    <br />
                    <a href="westfall.asp">webpage </a>· <a href="javascript:launch('http://portaldev/library/branch/info/mapWestfall.htm',520,480)">
                        directions </a>· <a href="info/layoutWestfall.htm">layout </a>
                </td>
                <td align="left" valign="top" width="60%">
                    Sunday CLOSED
                    <br />
                    Monday 1:00 - 9:00pm
                    <br />
                    Tuesday - Thursday 9:00am - 9:00pm
                    <br />
                    Friday &amp; Saturday 9:00am - 5:00pm
                </td>
            </tr>
        </tbody></table>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="neighborhoods"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        Neighborhoods</p>
    <div style="margin-left: 25px">
        San Antonio Neighborhood Links ...<br />
        <br />
        <ul>
            <li><a href="http://www.neighborhoodlink.com/sat/d9na/" target="_blank">District 9 Neighborhood
                Alliance of S.A</a></li>
            <li><a href="http://hrcweb.utsa.edu/hrc/index.html" target="_blank">Hispanic Research
                Center</a></li>
            <li><a href="http://www.neighborhoodlink.com/" target="_blank">Neighborhood Links</a></li>
            <li><a href="http://www.salsa.net/aiasa/sa-mastp.html" target="_blank">San Antonio Master
                Plan</a></li>
            <li><a href="http://www.ksab.org/community_impact.htm" target="_blank">Keep San Antonio
                Beautiful</a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="publications"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        Publications and Documents</p>
    <div style="margin-left: 25px">
        <p>
            <span class="style2">This document clearing house page provides a means for distribution
                of information to our customers and the public. Some of the documents contained
                on this site may need special software to be downloaded for viewing purposes. When
                needed we have provided the link to the downloadable software</span><br />
            <br />
            ------------------------------------------------------------------------------<br />
        </p>
        <p>
            Publications and Documents ...<br />
        </p>
        <p>
            <a href="docs/final.pdf" target="_index">1998 Bexar County Community Health Needs Assessment</a><br />
            Final version of report - (pdf file)(449kb)
        </p>
        <a href="docs/summary.pdf" target="_index">1998 Bexar County Community Health Needs
            Assessment</a><br />
        Summary of report - (pdf file) (172kb)
        <p>
            --------------------------------------------------------------------------------<br />
        </p>
        <p>
            Get Acrobat Reader ...<br />
            <a href="http://www.adobe.com/" target="_index">
                <img border="0" height="31" src="../Images/adobereader.gif" width="88"></a>
        </p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="crimedata"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        Area Crime Data</p>
    <div style="margin-left: 25px">
        <table cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td align="left" valign="top" width="100%">
                    <a href="http://www.sanantonio.gov/sapd/UCR.asp" target="_blank">    San Antonio
                        uniform crime reports     
                        <br />
                    </a>
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" width="100%">
                    <br />
                    Other crime/law enforcement resource links ...
                    <br />
                    <br />
                    <a href="http://www.ci.sat.tx.us/sapd/" target="_blank">    San Antonio Police Department
                        
                        <br />
                    </a>San Antonio Police Department Web Site.
                    <br />
                    <br />
                    <a href="http://www.ci.sat.tx.us/sapd/IndexCrime.asp" target="_blank">    SAPD Crime
                        Data     
                        <br />
                    </a>Directory of crime data and information.
                    <br />
                    <br />
                    <a href="http://www.transguide.dot.state.tx.us/Traffic/inmap.php" target="_blank">    
                        Transguide     
                        <br />
                    </a>Transguide incident page (MAP).
                    <br />
                    <br />
                    <a href="http://www.rapecrisis.com/" target="_blank">    Rape Crisis Center     
                        <br />
                    </a>Provides information, prevention, and reporting of rapes.
                    <br />
                    <br />
                    <a href="http://www.co.bexar.tx.us/sheriff/" target="_blank">    Bexar County Sheriff
                        Department     
                        <br />
                    </a>The Bexar county sheriff department web site.
                    <br />
                    <br />
                    <a href="http://www.ci.sat.tx.us/municrt/" target="_blank">    San Antonio Municipal
                        Courts     
                        <br />
                    </a>Information on community service program, jury duty, and defensive driving info.
                    <br />
                    <br />
                    <a href="http://www.txdps.state.tx.us/" target="_blank">    Texas Dept. of Public
                        Safety     
                        <br />
                    </a>Search the DPS database to see if you have a sex offender in your area.
                    <br />
                </td>
            </tr>
        </tbody></table>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="saservices"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        San Antonio Services</p>
    <div style="margin-left: 25px">
        <p>
                    <span class="style3">San Antonio Comunity Services links ... </span>
                <br />
        </p>
        <p>
        </p>
        <ul>
            <li><a href="http://www.ci.sat.tx.us/aviation/" target="_blank">Airport </a>
                <br />
            </li>
            <li><a href="http://www.sanantonio.gov/health/animal/" target="_blank">Animal control</a><br />
            </li>
            <li><a href="http://www.co.bexar.tx.us/" target="_blank">Bexar County website</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/pubwrks/swaste.htm" target="_blank">Brush pickup</a><br />
            </li>
            <li><a href="http://www.viainfo.net/" target="_blank">City Bus Service (VIA)</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/codecomp/" target="_blank">City code compliance
            </a>
                <br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/" target="_blank">City of San Antonio </a>
                <br />
            </li>
            <li><a href="http://www.citypublicservice.com/" target="_blank">City Public Service
                Board</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/comminit/" target="_blank">Community Initiatives</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/comminit/page20.htm" target="_blank">Elderly services</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/comminit/page20.htm" target="_blank">Disabled services</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/bldginsp/garagesales.htm" target="_blank">Garage
                sale permits</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/pubwrks/swaste.htm" target="_blank">Garbage pickup</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/pubwrks/envsvcs/hhw.htm" target="_blank">Hazardous
                waste disposal</a><br />
            </li>
            <li><a href="http://www.sanantonio.gov/health" target="_blank">Health Department </a>
                <br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/municrt/index.htm" target="_blank">Municipal Court</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/nad/" target="_blank">Neighborhood Action</a><br />
            </li>
            <li><a href="http://www.ci.sat.tx.us/sapar/index.htm" target="_blank">Parks Department</a><br />
            </li>
            <li><a href="http://www.citypublicservice.com/" target="_blank">Utilities - Gas &amp;
                Electric
                <br />
            </a>
                <br />
                <p>
                </p>
            </li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="senior"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        Senior Resources</p>
    <div style="margin-left: 25px">
        <p>
            Links for services provided to Seniors
        </p>
        <ul>
            <li><a href="http://www.aoa.dhhs.gov/" target="_blank">The Administration on Aging </a>
                <br />
            </li>
            <li><a href="http://www.agenet.com/" target="_blank">AgeNet </a>
                <br />
            </li>
            <li><a href="http://www.arclab.org/" target="_blank">Aging Research Centre (ARC)</a><br />
            </li>
            <li><a href="http://www.aarp.org/" target="_blank">American Association of Retired Persons
                (AARP) </a>
                <br />
            </li>
            <li><a href="http://www.aacog.com/aging/" target="_blank">Alamo Area Council of Governments
            </a>
                <br />
            </li>
            <li><a href="http://www.elderweb.com/" target="_blank">Elderweb </a>
                <br />
            </li>
            <li><a href="http://www.elderoptionsoftexas.com/" target="_blank">Elder Options of Texas
            </a>
                <br />
            </li>
            <li><a href="http://www.nih.gov/nia/" target="_blank">National Institute on Aging</a><br />
            </li>
            <li><a href="http://www.ssa.gov/" target="_blank">Social Security Administration
                <br />
            </a></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="technology"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        Technology Center</p>
    <div style="margin-left: 25px">
        Technology-related Resources
        <br />
        <br />
        <ul>
            <li><a href="http://www.tipsdr.com/windows-xp-tips.html" target="_blank">Windows XP
                Tricks &amp; Tips</a><br />
            </li>
            <li><a href="http://einstein.cs.uri.edu/tutorials/csc101/pc/excel97/excel.html" target="_blank">
                MS Excel Tutorial</a><br />
            </li>
            <li>PowerPoint Guide</li>
            <li><a href="http://www.eiu.edu/~mediasrv/ie/menu.html" target="_blank">Internet Explorer
                Tutorial</a><br />
            </li>
            <li><span class="style3"><a href="http://kb.iu.edu/data/hdwr.html" target="_blank">Computer
                Hardware Guide</a><br />
            </span></li>
        </ul>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <a name="youthservices"></a>
    <p style="font-weight: bold; font-size: 26px; color: navy; text-indent: 10px">
        Youth Services</p>
    <div style="margin-left: 25px">
        San Antonio youth resource links ...
        <br />
        <br />
        <ul>
            <li><a href="http://www.aecf.org/kidscount/kc2001" target="_blank">Kids Count 2001 </a>
            </li>
            <li><a href="http://www.youthwired.sat.lib.tx.us/" target="_blank">Youth Wired </a></li>
            <li><a href="http://www.aaysa.org/" target="_blank">Alamo Area Youth Soccer Association
            </a></li>
            <li><a href="http://www.ksnusa.org/organizations.htm" target="_blank">San Antonio Area
                Youth Sports Organizations </a></li>
            <li><a href="http://www.randlfoods.com/sayes.htm" target="_blank">The San Antonio Youth
                Education Scholarships Foundation </a></li>
            <li><a href="http://www.saysi.org/" target="_blank">Say Si - San Antonio Yes! </a></li>
            <li><a href="http://www.ymcasatx.org/" target="_blank">YMCA of San Antonio &amp; the
                Hill Country </a></li>
            <li><a href="http://www.ci.sat.tx.us/sapd/youthgangs.htm" target="_blank">Youth Gang
                Information from SAPD </a></li>
            <li><a href="http://www.ci.sat.tx.us/projectworth" target="_blank">City of San Antonio-
                Project Worth </a></li>
        </ul>


















    </div>
    
{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}









