{% extends "global/base.html" %}
{% block content %}



<div class="clearfix">
  
  <img src="/media/content/211_texas.jpg" class="floatright" />
  
  <h3><a href="http://65.166.193.134/iftwsql4/uwsa/public.aspx">211 Information and Referral</a></h3>

  <p>A large searchable directory of health and human service programs in Bexar and surrounding counties is available through the United Way of San Antonio and Bexar County.</p>
    
  <p>You can talk to a live Information and Referral Specialist 24 hours a day, seven days a week, by dialing 2-1-1 or 210-227-HELP(4357).</p>

  <p><a href="http://65.166.193.134/iftwsql4/uwsa/public.aspx">Click here to visit 211 Texas</a></p>

</div>

<hr />

<div class="clearfix">
  
  <a href="http://gis.cinow.info/CINOWPointMap/default.aspx"><img src="/media/content/master_map_of_assets.jpg" class="floatright" /></a>
  
  <h3><a href="http://gis.cinow.info/CINOWPointMap/default.aspx">Master Map of Community Assets </a></h3>

  <p>View an interactive map of local assets and facilities like libraries, parks, hospitals, shopping centers, tourist attractions, and bus stations by clicking on the map at right.</p>

  <p><a href="http://gis.cinow.info/CINOWPointMap/default.aspx">Click here to view the map</a></p>

</div>

<hr />

<div class="clearfix">

  <a href="http://gis.cinow.info/CINOWCoPolygonMap/Default.aspx"><img src="/media/content/master_map_of_geos.jpg" class="floatright" /></a>

  <h3><a href="http://gis.cinow.info/CINOWCoPolygonMap/Default.aspx">Master Map of Geopolitical Boundaries</a></h3>
  <p>Need to know which voting precincts are within your neighborhood, or which census tracts are in a nonprofit agency’s service area?  This interactive map allows you to view voting precincts, census tracts, zip codes, school districts, neighborhoods (San Antonio) City Council Districts (San Antonio), and County Precincts (Bexar) – all overlaid on highways and city streets to get you oriented.</p>

  <p><a href="http://gis.cinow.info/CINOWCoPolygonMap/Default.aspx">Click here to view the map</a></p>
  
</div>

<hr />

  <a href="http://www.nowcastsa.com/maps"><img src="/media/content/other_community_maps.jpg" class="floatright" /></a>

  <h3><a href="http://www.nowcastsa.com/maps">Other Community Maps</a></h3>
  
  <p>Check out NOWCastSA’s maps of community gardens, farmers markets, playgrounds, immunization clinics, blood donation sites, and more! </p>
  
  <p><a href="http://www.nowcastsa.com/maps">Click here to visit NowCastSA</a></p>




{% endblock %}

{% block sidebar_content %}
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    {% include "sidebars/sidebar_tools.html" %}
    
{% endblock %}









