<div class="section nowtech">

  <h2>Admin</h2>

  <ul>
      <li><a href="/documents/">Document Explorer</a></li>
  </ul>
  
  <br />
  
  <ul>
    <li><a href="/nowdata-admin/indicators/no-description/">Indicators with no description</a></li>
    <li><a href="/nowdata-admin/indicators/no-resources/">Indicators with no resources</a></li>
    <li>
     Indicators by status:
     <ul>
         <li><a href="/nowdata-admin/indicators/by_status/0">Unknown</a></li>
         <li><a href="/nowdata-admin/indicators/by_status/1">Started, Incomplete</a></li>
         <li><a href="/nowdata-admin/indicators/by_status/2">In Progress</a></li>
         <li><a href="/nowdata-admin/indicators/by_status/3">Completed</a></li>
     </ul>
    </li>
  </ul>

  <br />
  
  <ul>
    <li><a href="/nowdata-admin/resources/unlinked/">Resources with no file or link</a></li>
    <li><a href="/nowdata-admin/resources/no-indicator/">Resources not attached to an indicator</a></li>
  </ul>

  <p>&nbsp;</p>
  <p>Logged in as {{ request.user.username }} (<a href="/admin/logout/">Log Out</a>)</p>

</div>