<div class="section nowtech">

  <h2>Admin</h2>
  
  <ul>
    <li><a href="/indicators/recently_added/">Recently Added Indicators</a></li>
    <li><a href="/indicators/without_resources">Incomplete Indicators</a></li>
    <li>
    	Indicators by status:
    	<ul>
    		<li><a href="/indicators/by_status/0">Unknown</a></li>
    		<li><a href="/indicators/by_status/1">Started, Incomplete</a></li>
    		<li><a href="/indicators/by_status/2">In Progress</a></li>
    		<li><a href="/indicators/by_status/3">Completed</a></li>
    	</ul>
    </li>
  </ul>

  <p>&nbsp;</p>
  <p>Logged in as {{ request.user.username }} (<a href="/admin/logout/">Log Out</a>)</p>

</div>