<div class="section browse_all">
    <h2><a href="/indicators/">Browse All Indicators</a></h2>
</div>

<div class="section browse_by_topic">
    <h2>Browse by Topic</h2>
    <ul class="topiclist clearfix">
        {% for domain in sidebar_domains %}
            <li>
                <a href="/indicators/?domain={{ domain.slug }}" class="topic_icon {{ domain.slug }}">
                    <span class="icon">{{ domain.slug }}</span></a>
                <a href="/indicators/?domain={{ domain.slug }}">{{ domain.name }}</a>
                <span class="metadata">{{ domain.indicator_count }} Indicators</span>
            </li>
        {% endfor %}
    </ul>
</div>