<div class="section sidebar_tools">
    <h2>Tools</h2>
    <ul class="topiclist clearfix">
        <li>
            <a href="http://www.cinow.info/CrossTabs/Default.aspx"><span class="crosstabs icon">{{ domain.slug }}</span></a>
            <h3><a href="http://www.cinow.info/CrossTabs/Default.aspx">Custom Crosstabs</a></h3>
        </li>
        <li>
            <a href="http://weave.cinow.info:8080/weave.html?defaults=Newblank.xml"><span class="weave icon">{{ domain.slug }}</span></a>
            <h3><a href="http://weave.cinow.info:8080/weave.html?defaults=Newblank.xml">Weave</a></h3>
        </li>
    </ul>
</div>