<div class="section sidebar_tools">
    <h2>Tools</h2>
    <ul class="topiclist clearfix">
        <li>
            <img src="#" style="background:#333; height:40px; width:40px;" />
            <h3><a href="#">Custom Crosstabs</a></h3>
        </li>
        <li>
            <img src="#" style="background:#333; height:40px; width:40px;" />
            <h3><a href="#">Custom Crosstabs</a></h3>
        </li>
        <li>
            <img src="#" style="background:#333; height:40px; width:40px;" />
            <h3><a href="#">Custom Crosstabs</a></h3>
        </li>
        <li>
            <img src="#" style="background:#333; height:40px; width:40px;" />
            <h3><a href="#">Custom Crosstabs</a></h3>
        </li>
    </ul>
</div>