<li class="item indicator {% cycle "even" "odd" %}">

	<h3><a href="/indicators/{{ indicator.slug }}">{{ indicator.name }}</a></h3>
	<h4>In Subtopics: {% for domaingroup in indicator.domaingroup.all %}<a href="/indicators/?domaingroup={{ domaingroup.slug }}">{{ domaingroup.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h4>

	{% if indicator.year_end or indicator.year_start %}
		<p>Year{% if indicator.year_end %}s{% endif %}: {{ indicator.year_start }}{% if indicator.year_end %} - {{ indicator.year_end }}{% endif %}</p>
	{% endif %}

	{% if indicator.source %}
		<p>Source: <a href="{{ indicator.source_url }}" target="_blank">{{ indicator.source.name }}</a></p>
	{% endif %}
	

    {% if indicator.resource_set.exists %}
    
    <div class="resource-list">
        {{ indicator.resource_set.count }} Resources (<a href="#" class="toggle_resources">show</a>)
        <ul class="resource_list toggleable_item">
         {% for resource in indicator.resource_set.all %}
            <li>{{ resource.name }}</li>
         {% endfor %}
        </ul>
    </div>
    {% endif %}

</li>