{% extends "global/base.html" %}
{% block content %}


{% if indicator.source %}
	<h2 id="pagesubtitle">
		<strong>Source:</strong> <a href="{{ indicator.source.display_url }}" target="_blank">{{ indicator.source.name }}</a>
	</h2>
{% endif %}

{% if indicator.description %}
	<h3>Description:</h3>
	<p>{{ indicator.description|linebreaks }}</p>
{% endif %}


{% if indicator.resource_set.all %}

	<h3>Resources in this Indicator</h3>
	<ul class="resource_list">
		{% for resource in indicator.resource_set.all %}
			<li class="item {% cycle "even" "odd" %}">
      	{% if resource.url or resource.resource_file %}
          <a href="/indicators/{{ indicator.slug }}/{{ resource.slug }}">{{ resource.name }}</a>
        {% else %}
          {{ resource.name }}
        {% endif %}
      	{% if resource.resource_format %}<br /><span class="metainfo format">{{ resource.resource_format.name }}</span>{% endif %}
      </li>
		{% endfor %}
	</ul>

{% endif %}


{% if indicator.year_start %}

  <hr />
	<p>
		<h3>Covers Year{% if indicator.year_end %}s{% endif %}:</h3>
		{{ indicator.year_start }}
		{% if indicator.year_end %} - {{ indicator.year_end }}{% endif %}
	</p>
	
  {% if indicator.datasource_url %}
    <p>Datasource: {{ indicator.datasource_url }}</p>
  {% endif %}
{% endif %}


{% if indicator_domains %}
  <hr />
  <h3>Filed in Topics:</h3>
	<ul>
    {% for domain in indicator_domains %}
      <li><a href="/indicators/?domain={{ domain.slug}}">{{ domain.name }}</a></li>
    {% endfor %}
	</ul>
{% endif %}


{% if indicator.domaingroup.all %}
  <hr />
  <h3>Filed in Subtopics:</h3>
	<ul>
    {% for domaingroup in indicator.domaingroup.all %}
      <li><a href="/indicators/?domain={{ domaingroup.domain.slug}}&amp;domaingroup={{ domaingroup.slug }}">{{ domaingroup.name }}</a></li>
    {% endfor %}
	</ul>
{% endif %}


{% if request.user.is_staff %}
	{% if indicator.notes %}
	    <hr />
		<div class="notes indicator">
			<h3>Staff Notes:</h3>
			<p>{{ indicator.notes|urlize|linebreaks }}</p>
		</div>
	{% endif %}
{% endif %}


{% endblock %}



{% block sidebar_content %}

    {% if related_domain %}
    <div class="section related_indicators">
        <h3>Other Resources in this Topic ({{ related_domain.name }}):</h3>
        <ul class="topiclist clearfix">
            {% for indicator in related_domain_indicators %}
                <li><a href="/indicators/{{ indicator.slug }}">{{ indicator.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    
    {% include "sidebars/browse_by_topic.html" %}
    {% include "sidebars/browse_by_county.html" %}
    

{% endblock %}







